.wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: fixed;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, 0.6);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid $white;
  border-top-color: transparent;

  animation: infinite spin 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
