.cardWrapper {
  border: 0;
  border-radius: 8px;

  > div {
    padding: 0;
  }

  .card {
    padding: 24px;
    border: 1px solid;
    border-radius: 8px;

    .image {
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    .name {
    }

    .attacks {
    }

    .weaknesses {
    }

    .subtypes {
    }
  }

  :global .colorless {
    border-color: $normal;
  }

  :global .darkness {
    border-color: $dark;
  }

  :global .dragon {
    border-color: $dragon;
  }

  :global .fairy {
    border-color: $fairy;
  }

  :global .fighting {
    border-color: $fighting;
  }

  :global .fire {
    border-color: $fire;
  }

  :global .grass {
    border-color: $grass;
  }

  :global .lightning {
    border-color: $electric;
  }

  :global .metal {
    border-color: $steel;
  }

  :global .psychic {
    border-color: $psychic;
  }

  :global .water {
    border-color: $water;
  }
}
