@import '~antd/dist/antd.css';

body {
  background-color: $bodyBackground;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $fontColor;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 16px;
  min-height: 100vh;
}

.colorless {
  color: $normal;

  &.typeButton {
    background-color: $normal;

    &:hover,
    &:focus {
      border-color: $normal;
      box-shadow: 0 0 0 3px rgba($normal, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $normal;

    a {
      color: $normal;
    }

    svg {
      fill: $normal;
    }
  }

  .ant-spin-dot-item {
    background-color: $normal;
  }
}

.darkness {
  color: $dark;

  &.typeButton {
    background-color: $dark;

    &:hover,
    &:focus {
      border-color: $dark;
      box-shadow: 0 0 0 3px rgba($dark, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $dark;

    a {
      color: $dark;
    }

    svg {
      fill: $dark;
    }
  }

  .ant-spin-dot-item {
    background-color: $dark;
  }
}

.dragon {
  color: $dragon;

  &.typeButton {
    background-color: $dragon;

    &:hover,
    &:focus {
      border-color: $dragon;
      box-shadow: 0 0 0 3px rgba($dragon, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $dragon;

    a {
      color: $dragon;
    }

    svg {
      fill: $dragon;
    }
  }

  .ant-spin-dot-item {
    background-color: $dragon;
  }
}

.fairy {
  color: $fairy;

  &.typeButton {
    background-color: $fairy;

    &:hover,
    &:focus {
      border-color: $fairy;
      box-shadow: 0 0 0 3px rgba($fairy, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $fairy;

    a {
      color: $fairy;
    }

    svg {
      fill: $fairy;
    }
  }

  .ant-spin-dot-item {
    background-color: $fairy;
  }
}

.fighting {
  color: $fighting;

  &.typeButton {
    background-color: $fighting;

    &:hover,
    &:focus {
      border-color: $fighting;
      box-shadow: 0 0 0 3px rgba($fighting, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $fighting;

    a {
      color: $fighting;
    }

    svg {
      fill: $fighting;
    }
  }

  .ant-spin-dot-item {
    background-color: $fighting;
  }
}

.fire {
  color: $fire;

  &.typeButton {
    background-color: $fire;

    &:hover,
    &:focus {
      border-color: $fire;
      box-shadow: 0 0 0 3px rgba($fire, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $fire;

    a {
      color: $fire;
    }

    svg {
      fill: $fire;
    }
  }

  .ant-spin-dot-item {
    background-color: $fire;
  }
}

.grass {
  color: $grass;

  &.typeButton {
    background-color: $grass;

    &:hover,
    &:focus {
      border-color: $grass;
      box-shadow: 0 0 0 3px rgba($grass, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $grass;

    a {
      color: $grass;
    }

    svg {
      fill: $grass;
    }
  }

  .ant-spin-dot-item {
    background-color: $grass;
  }
}

.lightning {
  color: $electric;

  &.typeButton {
    background-color: $electric;

    &:hover,
    &:focus {
      border-color: $electric;
      box-shadow: 0 0 0 3px rgba($electric, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $electric;

    a {
      color: $electric;
    }

    svg {
      fill: $electric;
    }
  }

  .ant-spin-dot-item {
    background-color: $electric;
  }
}

.metal {
  color: $steel;

  &.typeButton {
    background-color: $steel;

    &:hover,
    &:focus {
      border-color: $steel;
      box-shadow: 0 0 0 3px rgba($steel, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $steel;

    a {
      color: $steel;
    }

    svg {
      fill: $steel;
    }
  }

  .ant-spin-dot-item {
    background-color: $steel;
  }
}

.psychic {
  color: $psychic;

  &.typeButton {
    background-color: $psychic;

    &:hover,
    &:focus {
      border-color: $psychic;
      box-shadow: 0 0 0 3px rgba($psychic, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $psychic;

    a {
      color: $psychic;
    }

    svg {
      fill: $psychic;
    }
  }

  .ant-spin-dot-item {
    background-color: $psychic;
  }
}

.water {
  color: $water;

  &.typeButton {
    background-color: $water;

    &:hover,
    &:focus {
      border-color: $water;
      box-shadow: 0 0 0 3px rgba($water, 0.3);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:not([disabled]):hover,
  .ant-pagination-item-active {
    border-color: $water;

    a {
      color: $water;
    }

    svg {
      fill: $water;
    }
  }

  .ant-spin-dot-item {
    background-color: $water;
  }
}

.typeButton {
  color: $white;
  background-color: $fontColor;

  &:hover,
  &:focus {
    color: $white;
    border-color: $fontColor;
  }
}
