.home {
  .typesContainer {
    margin: -5px;
    max-width: 400px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .typeButton {
      color: $white;
      background-color: $fontColor;

      margin: 5px;

      &:hover,
      &:focus {
        border-color: $fontColor;
      }
    }

    :global .colorless {
      background-color: $normal;

      &:hover,
      &:focus {
        border-color: $normal;
        box-shadow: 0 0 0 3px rgba($normal, 0.3);
      }
    }

    :global .darkness {
      background-color: $dark;

      &:hover,
      &:focus {
        border-color: $dark;
        box-shadow: 0 0 0 3px rgba($dark, 0.3);
      }
    }

    :global .dragon {
      background-color: $dragon;

      &:hover,
      &:focus {
        border-color: $dragon;
        box-shadow: 0 0 0 3px rgba($dragon, 0.3);
      }
    }

    :global .fairy {
      background-color: $fairy;

      &:hover,
      &:focus {
        border-color: $fairy;
        box-shadow: 0 0 0 3px rgba($fairy, 0.3);
      }
    }

    :global .fighting {
      background-color: $fighting;

      &:hover,
      &:focus {
        border-color: $fighting;
        box-shadow: 0 0 0 3px rgba($fighting, 0.3);
      }
    }

    :global .fire {
      background-color: $fire;

      &:hover,
      &:focus {
        border-color: $fire;
        box-shadow: 0 0 0 3px rgba($fire, 0.3);
      }
    }

    :global .grass {
      background-color: $grass;

      &:hover,
      &:focus {
        border-color: $grass;
        box-shadow: 0 0 0 3px rgba($grass, 0.3);
      }
    }

    :global .lightning {
      background-color: $electric;

      &:hover,
      &:focus {
        border-color: $electric;
        box-shadow: 0 0 0 3px rgba($electric, 0.3);
      }
    }

    :global .metal {
      background-color: $steel;

      &:hover,
      &:focus {
        border-color: $steel;
        box-shadow: 0 0 0 3px rgba($steel, 0.3);
      }
    }

    :global .psychic {
      background-color: $psychic;

      &:hover,
      &:focus {
        border-color: $psychic;
        box-shadow: 0 0 0 3px rgba($psychic, 0.3);
      }
    }

    :global .water {
      background-color: $water;

      &:hover,
      &:focus {
        border-color: $water;
        box-shadow: 0 0 0 3px rgba($water, 0.3);
      }
    }
  }
}
