// COLORS
$white: #fff;
$black: #000;
$skeletonBackground: #cecece;

// DEFAULT COLORS AND FONT FAMILIES
$fontColor: #212121;
$bodyBackground: #f7f7f7;
$fontFamily: 'Poppins', Arial, Helvetica, sans-serif;

// POKÉMON TYPES COLORS
$normal: #aaa67f;
$dark: #75574c;
$dragon: #7037ff;
$fairy: #e69eac;
$fighting: #c12239;
$fire: #f57d31;
$grass: #74cb48;
$electric: #f9cf30;
$steel: #b7b9d0;
$psychic: #fb5584;
$water: #6493eb;
